
h1, h2, h3, h4, h5, h6{
    font-family: "Roboto", serif !important; 
}

.fondo_general{

    /*propuesta1 */
    /* background-color: #f4f4f9 ; */
    /* propuesta2 */
    /* background-color: #fdf2e9; */
    /* Propuesta3 */
    background-color: #f8fafc;
}

.columna_principal{
    /* propuesta1 */
    /* background-color: #e0e0eb ; */
    /* propuesta2 */
    /* background-color: #ffe8d6; */
    /* Propuesta3 */
    background-color: #dbeafe;
}

.tarjetas{
    /* propuesta1 */
    /* background-color: #ffffff; */
    /* propuesta2 */
    /* background-color: #ffffff; */
    /* Propuesta3 */
    background-color: #ffffff;
}

.titulo_tarjeta{
    /* propuesta1 */
    /* color: #333333; */
    /* propuesta2 */
    /* color: #ff4500; */
    /* Propuesta3 */
    color: #1e3a8a;
}

.miBtn{
    /* propuesta1 */
    /* background-color: #6c757d;
    color: #ffffff; */
    /* propuesta2 */
    /* background-color: #ff7f50;
    color: #ffffff; */ 
    /* Propuesta3 */
    background-color: #1e3a8a;
    color: #ffffff;
    cursor: pointer;
}

.miBtn:hover {
    background-color: #ffffff !important; /* Cambia el color de fondo */
    color: #2563eb !important; /* Cambia el color del texto */
}

.error{
    margin-top: 5px;
    margin-left: 5px;
    color: red;
    font-size: 14px;
}

.oculto{
    display: none;
}


/*modal*/

/* Estilos de la ventana modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.modal-contenido {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 50%; /* Ancho de la ventana */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.cerrar {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
}

.cerrar:hover {
    color: #000;
}


